---
layout: 'layouts/plain.liquid'
---

<div class="container">
  <section class="navigation">
    <div class="header">
      <div class="menu__toggle">
        –
      </div>
      <ul class="navigation">
        <li class="navigation__item"><a href="" class="navigation__item__link">Home</a></li>
        <li class="navigation__item"><a href="" class="navigation__item__link">About</a></li>
        <li class="navigation__item"><a href="" class="navigation__item__link">Projects</a></li>
      </ul>
    </div>
  </section>
  <section class="grid hide">
    <div class="grid">
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--2">
        2
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--3">
        3
      </div>
      <div class="grid__col grid__col--3">
        3
      </div>
      <div class="grid__col grid__col--3">
        3
      </div>
      <div class="grid__col grid__col--3">
        3
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--4">
        4
      </div>
      <div class="grid__col grid__col--4">
        4
      </div>
      <div class="grid__col grid__col--4">
        4
      </div>
    </div>


    <div class="grid">
      <div class="grid__col grid__col--6">
        6
      </div>
      <div class="grid__col grid__col--6">
        6
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--7">
        7
      </div>
      <div class="grid__col grid__col--5">
        5
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--8">
        8
      </div>
      <div class="grid__col grid__col--4">
        4
      </div>
    </div>

    <div class="grid">
      <div class="grid__col grid__col--9">
        9
      </div>
      <div class="grid__col grid__col--3">
        3
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--10">
        10
      </div>
      <div class="grid__col grid__col--2">
        2
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--11">
        11
      </div>
      <div class="grid__col grid__col--1">
        1
      </div>
    </div>
    <div class="grid">
      <div class="grid__col grid__col--12">
        12
      </div>
    </div>
  </section>
  <section class="buttons mb-16">
    <button class="btn btn-primary">btn-primary</button>
    <button class="btn btn-secondary">btn-secondary</button>
    <button class="btn btn-tertiary">btn-tertiary</button>

    <a href="#" class="btn btn-primary">btn-primary, link</a>
  </section>

  <section class="typography hide">
    <h1 class="h1">
      Headline 1
      <br>
      subline
    </h1>
    <h2 class="h2">
      Headline 2
      <br>
      subline
    </h2>
    <h3 class="h3">
      Headline 3
      <br>
      subline
    </h3>
    <h4 class="h4">
      Headline 4
      <br>
      subline
    </h4>
    <h5 class="h5">
      Headline 5
      <br>
      subline
    </h5>
    <h6 class="h6">
      Headline 6
      <br>
      subline
    </h6>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt, nulla eu gravida varius, elit velit
      tristique dolor, nec fermentum augue nibh in mi. <strong>Nulla</strong> facilisi. Etiam sit amet erat consequat elit facilisis
      ullamcorper. Praesent convallis tincidunt pellentesque. Aenean gravida molestie <em>sollicitudin</em>. Sed aliquet nisl
      sed ex hendrerit eleifend. Ut nec tortor quis mauris faucibus fringilla. Sed eget leo malesuada, efficitur neque
      sed, laoreet tellus. Quisque rutrum lacus in metus elementum, eget porttitor lacus lobortis.
    </p>
  </section>

  <div class="window window--white">
    {% comment %}
    TODO: add drag functionality
    {% endcomment %}
    <div class="window__top">
      Wait don't close this
      <span class="window__top__right">
                x
            </span>
    </div>
    <div class="window__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid autem consequatur
      debitis dolore eligendi error esse et, exercitationem hic magnam porro repudiandae similique sit sunt
      temporibus totam ullam!
    </div>
  </div>
</div>
<div class="container-max">
  container-max
</div>