<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title webc:is="meta-title"></title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="48x48" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
    <link rel="mask-icon" href="/favicon.svg" color="#4a5568" />

    <meta name="theme-color" content="#4a5568" />

    <!-- Preconnect to the font file origin -->
    <link rel="preconnect" href="https://rsms.me" crossorigin />

    <!-- Preload the font stylesheet asynchronously with low priority -->
    <link rel="preload" href="https://rsms.me/inter/inter.css" as="style" />

    <!-- https://www.filamentgroup.com/lab/load-css-simpler/ -->
    <link
            crossorigin="anonymous"
            rel="stylesheet"
            href="https://rsms.me/inter/inter.css"
            media="print"
            onload="this.media='all'; this.onload=null;"
    />
</head>
<body class="" data-env="{{ node.env }}">
<div class="container-max intro__container">
    <div class="grid intro__grid">
        <div class="grid__col--6">
            <img src="./images/intro.png" alt="image of site owner" class="intro__img grid__col--4">
        </div>
        <div class="grid__col--6 intro__box__container">
            <h1 class="">Hello There!</h1>
            <div class="intro__box">

            <p>I hope you're not lost. I'm Jasmin, a frontend developer and art&design enthusiast.
            This is my little corner of cool little projects and tidbits.</p>
            </div>
        </div>
    </div>
    {% comment %} add pixel sword. change marquee to custom css {% endcomment %}
    <marquee behavior="" direction="right"> Before you continue! Take this: ⚔︎</marquee>
</div>
<section class="container about">
<h2>Skill Check</h2>
    <div class="grid">
        <div class="grid__col--3">
            yaa
        </div>
        <div class="grid__col--3">
            yaa
        </div>
        <div class="grid__col--3">
            yaa
        </div>
        <div class="grid__col--3">
            yaa
        </div>
    </div>
</section>
{% comment %}
TODO: add cursor selection tool
{% endcomment %}
<script type="module" src="/main.js"></script>
</body>
</html>
