<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title webc:is="meta-title"></title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="48x48" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
    <link rel="mask-icon" href="/favicon.svg" color="#4a5568" />

    <meta name="theme-color" content="#4a5568" />

    <!-- Preconnect to the font file origin -->
    <link rel="preconnect" href="https://rsms.me" crossorigin />

    <!-- Preload the font stylesheet asynchronously with low priority -->
    <link rel="preload" href="https://rsms.me/inter/inter.css" as="style" />

    <!-- https://www.filamentgroup.com/lab/load-css-simpler/ -->
    <link
            crossorigin="anonymous"
            rel="stylesheet"
            href="https://rsms.me/inter/inter.css"
            media="print"
            onload="this.media='all'; this.onload=null;"
    />
</head>
<body class="" data-env="{{ node.env }}">

<div class="container">
    <section class="navigation">
        <div class="header">
            <div class="menu__toggle">
                –
            </div>
            <ul class="navigation">
                <li class="navigation__item"><a href="" class="navigation__item__link">Home</a></li>
                <li class="navigation__item"><a href="" class="navigation__item__link">About</a></li>
                <li class="navigation__item"><a href="" class="navigation__item__link">Projects</a></li>
            </ul>
        </div>
    </section>
    <section class="grid hide">
        <div class="grid">
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--2">
                2
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--3">
                3
            </div>
            <div class="grid__col grid__col--3">
                3
            </div>
            <div class="grid__col grid__col--3">
                3
            </div>
            <div class="grid__col grid__col--3">
                3
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--4">
                4
            </div>
            <div class="grid__col grid__col--4">
                4
            </div>
            <div class="grid__col grid__col--4">
                4
            </div>
        </div>


        <div class="grid">
            <div class="grid__col grid__col--6">
                6
            </div>
            <div class="grid__col grid__col--6">
                6
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--7">
                7
            </div>
            <div class="grid__col grid__col--5">
                5
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--8">
                8
            </div>
            <div class="grid__col grid__col--4">
                4
            </div>
        </div>

        <div class="grid">
            <div class="grid__col grid__col--9">
                9
            </div>
            <div class="grid__col grid__col--3">
                3
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--10">
                10
            </div>
            <div class="grid__col grid__col--2">
                2
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--11">
                11
            </div>
            <div class="grid__col grid__col--1">
                1
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--12">
                12
            </div>
        </div>
    </section>
    <section class="buttons mb-16">
        <button class="btn btn-primary">btn-primary</button>
        <button class="btn btn-secondary">btn-secondary</button>
        <button class="btn btn-tertiary">btn-tertiary</button>

        <a href="#" class="btn btn-primary">btn-primary, link</a>
    </section>

    <section class="typography hide">
        <h1 class="h1">
            Headline 1
            <br>
            subline
        </h1>
        <h2 class="h2">
            Headline 2
            <br>
            subline
        </h2>
        <h3 class="h3">
            Headline 3
            <br>
            subline
        </h3>
        <h4 class="h4">
            Headline 4
            <br>
            subline
        </h4>
        <h5 class="h5">
            Headline 5
            <br>
            subline
        </h5>
        <h6 class="h6">
            Headline 6
            <br>
            subline
        </h6>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt, nulla eu gravida varius, elit velit
            tristique dolor, nec fermentum augue nibh in mi. <strong>Nulla</strong> facilisi. Etiam sit amet erat consequat elit facilisis
            ullamcorper. Praesent convallis tincidunt pellentesque. Aenean gravida molestie <em>sollicitudin</em>. Sed aliquet nisl
            sed ex hendrerit eleifend. Ut nec tortor quis mauris faucibus fringilla. Sed eget leo malesuada, efficitur neque
            sed, laoreet tellus. Quisque rutrum lacus in metus elementum, eget porttitor lacus lobortis.
        </p>
    </section>

    <div class="window window--white">
        {% comment %}
        TODO: add drag functionality
        {% endcomment %}
        <div class="window__top">
            Wait don't close this
            <span class="window__top__right">
                x
            </span>
        </div>
        <div class="window__body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid autem consequatur
            debitis dolore eligendi error esse et, exercitationem hic magnam porro repudiandae similique sit sunt
            temporibus totam ullam!
        </div>
    </div>
</div>
<div class="container-max">
    container-max
</div>

{% comment %}
TODO: add cursor selection tool
{% endcomment %}
<script type="module" src="/main.js"></script>
</body>
</html>
