<section class="projects__container container">
    <div class="project__teaser grid">
        {% comment %} select from grid, show more info for one {% endcomment %}
        <div class="project__item--big project__item grid__col--6">


        </div>
        <div class="project__info grid__col--6">
            <h3 class="project__headline">Dummy Project</h3>
            <sub>Date etc</sub>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at consectetur cum deserunt doloremque eveniet fugiat fugit, incidunt iste minima optio perferendis provident quis quod repudiandae similique vero voluptas voluptatibus.</span></p>
        </div>
    </div>
    <div class="projects__grid">
        <div class="project__item">
            <span class="project__inner__spacer">
                           <h3 class="project__headline">Dummy Project</h3>
            <sub>Date etc</sub>
            </span>

        </div>
        <div class="project__item"></div>
        <div class="project__item"></div>
        <div class="project__item"></div>
        <div class="project__item"></div>
        <div class="project__item"></div>
        {% comment %}lazy loading{% endcomment %}
    </div>
</section>