<section class=" skills__grid skills__container">
    <h2 class="skills__headline">Skill Check</h2>
    <div class="grid container">
        <div class="grid__col--4 skills__softskills">
            <h3 class="skills__item__headline">Tools & Technology</h3>
            <dl class="tech-stack__item">
                <dt class="tech-stack__headline">Preprocessors:</dt>
                <dd class="tech-stack__description">SASS</dd>
                <dt class="tech-stack__headline">Template Engines:</dt>
                <dd class="tech-stack__description">Twig, Nunjucks</dd>
                <dt class="tech-stack__headline">Version Control</dt>
                <dd class="tech-stack__description">Git</dd>
                <dt class="tech-stack__headline">Frameworks</dt>
                <dd class="tech-stack__description">Vue.js</dd>
            </dl>
        </div>
        <div class="grid__col--8 container skills__backpack">
            <div class="grid__col--3 skills__item">
                <img src="./images/icons/html.gif" alt="low poly 3d rendering of the html 5 icon" class="skills__item__img">
                <h3 class="skills__item__headline">Html 5</h3>
            </div>
            <div class="grid__col--3">
                <img src="./images/icons/css.gif" alt="low poly 3d rendering of the css 3 icon" class="skills__item__img">
                <h3 class="skills__item__headline">CSS 3</h3>
            </div>
            <div class="grid__col--3">
                <img src="./images/icons/ux.gif" alt="low poly 3d rendering of a phone and pencil" class="skills__item__img">
                <h3 class="skills__item__headline">UX Design</h3>
            </div>
            <div class="grid__col--3">
                <img src="./images/icons/js.gif" alt="low poly 3d rendering of the js icon" class="skills__item__img">
                <h3 class="skills__item__headline">JavaScript</h3>

            </div>
        </div>
    </div>
</section>