<section class="container skills__container">
    <h2>Skill Check</h2>
    <div class="grid skills__grid">
        <div class="grid__col--5 container">
            <div class="grid__col--3 skills__item">
                <h3 class="skills__item__headline">Html 5</h3>
                <div class="skills__bar skills__bar--80"></div>
            </div>
            <div class="grid__col--3">
                <h3 class="skills__item__headline">CSS 3</h3>
                <div class="skills__bar skills__bar--90"></div>
            </div>
            <div class="grid__col--3">
                <h3 class="skills__item__headline">UX Design</h3>
                <div class="skills__bar skills__bar--90"></div>
            </div>
            <div class="grid__col--3">
                <h3 class="skills__item__headline">JavaScript</h3>
                <div class="skills__bar skills__bar--40"></div>
            </div>
        </div>
        <div class="grid__col--7 skills__softskills">
            <div class="skills__item">
                <span class="skills__item__headline">+</span>
                <span class="skills__item__description">Requirements Engineering</span>
            </div>
            <div class="skills__item">
                <span class="skills__item__headline">+</span>
                <span class="skills__item__description">Emotionale Intelligenz</span>
            </div>
            <div class="skills__item">
                <span class="skills__item__headline">+</span>
                <span class="skills__item__description">kreative Problemlösung</span>
            </div>
        </div>
    </div>
    <div class="grid tech-stack__grid">
        <div class="grid__col--8">
            <img src="" alt="">
        </div>
        <div class="grid__col--4">
            <h3 class="skills__item__headline">Tools & Technology</h3>
            <dl class="tech-stack__item">
                <dt class="tech-stack__headline">Preprocessors:</dt>
                <dd class="tech-stack__description">SASS</dd>
                <dt class="tech-stack__headline">Template Engines:</dt>
                <dd class="tech-stack__description">Twig, Nunjucks</dd>
                <dt class="tech-stack__headline">Version Control</dt>
                <dd class="tech-stack__description">Git</dd>
                <dt class="tech-stack__headline">Frameworks</dt>
                <dd class="tech-stack__description">Vue.js</dd>
            </dl>
        </div>
    </div>
</section>